<%- model_class = ImmuneResponse -%>
<div class="page-header">
  <h1>Immune Response Results</h1>
  <p>
    Below you can see list of immune response records that are currently
    stored in the system and accessible by your account. If there are
    now records available, you can create a new one using the
    <strong>New</strong> button toward the bottom of the page.
  </p>
  <p>
    You can also search the results by either experiment ID or the
    bacterial strain name, using the search box listed below:
  </p>

  <div class='row-fluid'>
    <div class='form-inline'>
      <!-- Form for submitting a search request -->
      <%= form_tag immune_responses_url, method: :get do %>
        <div class='input-prepend'>

            <%= select_tag(:stype, options_for_select(@search_options),
              class: 'btn span5') %>
            <%= text_field_tag :search, nil, placeholder: "Search term" %>
        </div>

        <%= submit_tag 'Search', class: 'btn pull-right' %>

      <% end %>
    </div> <!-- form inline -->
  </div> <!-- row -->
</div>

<% if @immune_responses.present? %>
  <%= render partial: 'immune_responses/immune_response_table', 
      locals: { iresponses: @immune_responses } %>

  <!-- Export controls -------------------------------------------------->
  <% if @search.present? && @stype.present? %>
    <%= link_to 'Export CSV', immune_responses_url(search: @search,
      stype: @stype, format: 'csv'), class: 'btn btn-mini btn-info pull-right' %>
  <% else %>
    <%= link_to 'Export CSV', immune_responses_url(format: 'csv'),
      class: 'btn btn-mini btn-info pull-right' %>
  <% end %>

  <br/>

<% else %>
  <p>
    No immune response results found. Please use the <strong>New</strong>
    button below to create a new immune response result record.
  </p>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_immune_response_path,
            :class => 'btn btn-primary' %>
