<%- model_class = ImmuneResponse -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:experiment_id) %></th>
      <th><%= model_class.human_attribute_name(:strain_name) %></th>
      <th><%= model_class.human_attribute_name(:cell_type) %></th>
      <th><%= model_class.human_attribute_name(:model) %></th>
      <th><%= model_class.human_attribute_name(:compartment) %></th>
      <th><%= model_class.human_attribute_name(:time_point) %></th>
      <th><%= model_class.human_attribute_name(:moi) %></th>
      <th><%= model_class.human_attribute_name(:strain_status) %></th>
      <th><%= model_class.human_attribute_name(:treatment) %></th>
      <th><%= model_class.human_attribute_name(:dose) %></th>
      <th><%= model_class.human_attribute_name(:result) %></th>
      <th><%= model_class.human_attribute_name(:ctyto_chemo_kine) %></th>
      <th><%= model_class.human_attribute_name(:units) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @immune_responses.each do |immune_response| %>
      <tr>
        <td><%= link_to immune_response.id, immune_response_path(immune_response) %></td>
        <td><%= immune_response.experiment_id %></td>
        <td><%= immune_response.strain_name %></td>
        <td><%= immune_response.cell_type %></td>
        <td><%= immune_response.model %></td>
        <td><%= immune_response.compartment %></td>
        <td><%= immune_response.time_point %></td>
        <td><%= immune_response.moi %></td>
        <td><%= immune_response.strain_status %></td>
        <td><%= immune_response.treatment %></td>
        <td><%= immune_response.dose %></td>
        <td><%= immune_response.result %></td>
        <td><%= immune_response.ctyto_chemo_kine %></td>
        <td><%= immune_response.units %></td>
        <td><%= immune_response.notes %></td>
        <td><%=l immune_response.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_immune_response_path(immune_response), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      immune_response_path(immune_response),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_immune_response_path,
            :class => 'btn btn-primary' %>
