<%- model_class = ImmuneResponse -%>
<div class="page-header">
  <h1>Immune Response Result Record</h1>
  <p>
    The immune response record is shown in the fields below. You can edit
    this record using the <strong>Edit</strong> button at the bottom of
    the field.
  </p>
</div>

<dl class="dl-horizontal">
  <dt><strong>Experiment ID:</strong></dt>
  <dd><strong><%= @immune_response.experiment_id %></strong></dd>

  <dt><strong>Strain Name:</strong></dt>
  <dd><strong><%= @immune_response.strain_name %></strong></dd>

  <dt><strong>Owner:</strong></dt>
  <dd><strong><%= @immune_response.user.first_name%> <%= @immune_response.user.last_name%></strong></dd>

  <% if @immune_response.project.present? %>
    <dt><strong>Assoc. Project:</strong></dt>
    <dd><strong><%= @immune_response.project.name %></strong></dd>
  <% end %>
  <br/>

  <dt><strong>Cell Type:</strong></dt>
  <dd><%= @immune_response.cell_type_str %></dd>

  <dt><strong>Model:</strong></dt>
  <dd><%= @immune_response.model_str %></dd>

  <dt><strong>Compartment:</strong></dt>
  <dd><%= @immune_response.compartment_str %></dd>

  <dt><strong>Time Point:</strong></dt>
  <dd><%= @immune_response.time_point %></dd>

  <dt><strong>MOI:</strong></dt>
  <dd><%= @immune_response.moi %></dd>

  <dt><strong>Strain STatus:</strong></dt>
  <dd><%= @immune_response.strain_status_str %></dd>

  <dt><strong>Treatment:</strong></dt>
  <dd><%= @immune_response.treatment_str %></dd>

  <dt><strong>Dose:</strong></dt>
  <dd><%= number_with_precision(@immune_response.dose, precision: 4) %></dd>

  <dt><strong>Result:</strong></dt>
  <dd><%= @immune_response.result %></dd>

  <dt><strong>Cyto Chemo-Kine:</strong></dt>
  <dd><%= @immune_response.cyto_chemo_kine_str %></dd>

  <dt><strong>Units:</strong></dt>
  <dd><%= @immune_response.units_str %></dd>

  <dt><strong>Notes:</strong></dt>
  <dd><%= @immune_response.notes %></dd>

  <br/>
  <dt><strong>Data File: </strong></dt>
  <dd>
    <% if @immune_response.raw_datafile.present? %>
      <%= link_to @immune_response.raw_datafile_file_name,
        @immune_response.raw_datafile.url, class: 'btn btn-mini' %>
    <% else %>
      None
    <% end %>
  </dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              immune_responses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_immune_response_path(@immune_response), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              immune_response_path(@immune_response),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger pull-right' %>
</div>
