<div class="page-header">
  <h1>Search by Tags</h1>
  <p>
    You can search for experimental results by the tags that were
    used in entering the result records. The results will be
    separated by result type and will be ordered by most recent
    results first.
  </p>
  <p>
    You can search by choosing one or more tags that have been
    found in the system. To select more than one tag, hold down
    the <strong>Ctrl</strong> key and click on each tag you wish
    to use in the search.
  </p>
</div>

<%= form_tag(search_by_tags_url, method: "post",
  class: "form-horizontal") do %>
  <div class="control-group">
    <label class="control-label">Tags Name: </label>
      <div class="controls">
        <%= select_tag(:tags, tag_options_list, {multiple: true}) %>
      </div>
  </div>

  <div class="control-group">
    <div class='controls'>
      And search tags
      <%= radio_button_tag(:search_operator, :and, checked: true) %>
      &nbsp;
      Or search tags
      <%= radio_button_tag(:search_operator, :or) %>
    </div>
  </div>

  <div class='form-actions'>
    <%= submit_tag("Search", class: 'btn') %>
  </div>
<% end %>
