<%= render partial: 'shared/flash', locals: { flash: flash } %>
<%= render partial: 'shared/validation_errors' %>

<%= form_for @macrophage, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <label class='control-label'>Experiment ID</label>
    <div class="controls">
      <%= f.text_field :experiment_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
     <label class='control-label'>Strain Name: </label>
    <div class="controls">
      <%= f.select(:strain_name, strain_name_options)   %>
    </div>
  </div>

  <div class="control-group">
    <label class='control-label'>Macrophage Types</label>
    <div class="controls">
      <%= f.select(:macrophage_type, macrophage_options) %>
    </div>
  </div>

  <div class="control-group">
    <label class='control-label'>Treatment</label>
    <div class="controls">
      <%= f.select(:treatment, treatment_options) %>
    </div>
  </div>

  <div class="control-group">
    <label class='control-label'>Dosage</label>
    <div class="controls">
      <%= f.select(:dose, dosage_options) %>
    </div>
  </div>

  <div class="control-group">
    <label class='control-label'>Data Type</label>
    <div class="controls">
      <%= f.select(:data_type, datatype_options) %>
    </div>
  </div>

  <div class="control-group">
    <label class='control-label'>Data</label>
    <div class="controls">
      <%= f.text_field :data, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <label class='control-label'>Notes</label>
    <div class="controls">
      <%= f.text_area :notes, rows: 6, class: 'span10' %>
    </div>
  </div>

  <div class="control-group">
    <label class='control-label'>Associated Project</label>

    <% if @projects.present? %>
      <div class="controls">
        <%= f.select(:project_id, project_list) %>
      </div>
    <% else %>
      <div class="controls readonly">No projects defined yet.</div>
    <% end %>
  </div>

  <div class="control-group">
    <label class='control-label'>Data File: </label>
    <div class='controls'>
      <% if @macrophage.raw_datafile.present? %>
        Current file is - <%= @macrophage.raw_datafile_file_name  %>
        <br/>
      <% end %>
      <%= f.file_field :raw_datafile %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                macrophages_path, :class => 'btn' %>
  </div>
<% end %>
