<%- model_class = Macrophage -%>
<div class="page-header">
  <h1>Macrophage Experimental Results List</h1>
  <p>
    This page shows a listing of all the Macrophage experimental results
    that you can access. You can see more information about the
    experiment by clicking the 'Experiment ID'
  </p>

  <div class='row-fluid'>
    <div class='form-inline'>
      <!-- Form for submitting a search request -->
      <%= form_tag macrophages_url, method: :get do %>
        <div class='input-prepend'>

            <%= select_tag(:stype, macrophage_search_options,
              class: 'btn span5') %>
            <%= text_field_tag :search, nil, placeholder: "Search term" %>
        </div>

        <%= submit_tag 'Search', class: 'btn pull-right' %>

      <% end %>

    </div> <!-- form inline -->

  </div> <!-- row -->

</div>
<%= render partial: 'shared/flash', locals: { flash: flash } %>

<% if @macrophages.present? %>

  <%= render partial: 'macrophages/macrophages_table', 
    locals: { macrophages: @macrophages } %>

<% else %>
  <p>
    No macrophage results have been created yet. Click on the <strong>New</strong>
    button below to create your first one.
  </p>
<% end %>


<!-- Export controls -------------------------------------------------->
<% if @search.present? && @stype.present? %>
  <%= link_to 'Export CSV', macrophages_url(search: @search,
    stype: @stype, format: 'csv'), class: 'btn btn-mini btn-info pull-right' %>
<% else %>
  <%= link_to 'Export CSV', macrophages_url(format: 'csv'),
    class: 'btn btn-mini btn-info pull-right' %>
<% end %>

<br/>

<div class="form-actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_macrophage_path,
            :class => 'btn btn-primary' %>
</div>
