<%- model_class = Macrophage -%>
<div class="page-header">
  <h1>Macrophage Results</h1>
  <p>
      The results of the macrophage experiment are shown below. You can
      update or delete the results by using the buttons at the bottom
      of the page.
  </p>
</div>
<%= render partial: 'shared/flash', locals: { flash: flash } %>

<dl class="dl-horizontal">
  
  <dt><strong><%= model_class.human_attribute_name(:experiment_id) %>:</strong></dt>
  <dd><%= @macrophage.experiment_id %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:strain_name) %>:</strong></dt>
  <dd><%= @macrophage.strain_name %></dd>
    
  <dt><strong><%= model_class.human_attribute_name(:macrophage_type) %>:</strong></dt>
  <dd><%= @macrophage.macrophage_type_str %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:treatment) %>:</strong></dt>
  <dd><%= @macrophage.treatment_str %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:dose) %>:</strong></dt>
  <dd><%= @macrophage.dosage_str %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:data_type) %>:</strong></dt>
  <dd><%= @macrophage.datatype_str %></dd>  
  
  <dt><strong><%= model_class.human_attribute_name(:data) %>:</strong></dt>
  <dd><%= @macrophage.data %></dd>

  <dt><strong>Notes:</strong></dt>
  <dd><%= @macrophage.notes.html_safe %></dd>
  
  <br/>
  <dt><strong>User/Owner</strong></dt>
  <dd>
    <% if @macrophage.user.present? %>
      <%= @macrophage.user.first_name %>  <%= @macrophage.user.last_name %><br/>
      <%= @macrophage.user.email %>
    <% else %>
      None
    <% end %>
  </dd>
  
  <dt><strong><%= model_class.human_attribute_name(:project_id) %>:</strong></dt>
  <dd>
    <% if @macrophage.project.present? %>
      <%= @macrophage.project.name %>
    <% else %>
      None
    <% end %>
  </dd>
  
  <br/>
  <dt><strong>Data File: </strong></dt>
  <dd>
    <% if @macrophage.raw_datafile.present? %>
      <%= link_to @macrophage.raw_datafile_file_name, 
        @macrophage.raw_datafile.url, class: 'btn btn-mini' %>
    <% else %>
      None
    <% end %>
  </dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              macrophages_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_macrophage_path(@macrophage), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              macrophage_path(@macrophage),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger pull-right' %>
</div>
